.sprite-icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../images/ibbc-sprites.svg");
      background-repeat: no-repeat;
      background-size: 5.2em 20.8em;

      .no-svg & {
        background-image: url("../images/ibbc-sprites.png");
      }
    }
}




.sprite-icon.consulting {
  &:before {
      background-position: -1em -1em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-consulting(){
    @extend .consulting;
  }


.sprite-icon.development {
  &:before {
      background-position: -1em -6.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-development(){
    @extend .development;
  }


.sprite-icon.mobile-app {
  &:before {
      background-position: -1em -11.4em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-mobile-app(){
    @extend .mobile-app;
  }


.sprite-icon.solutions {
  &:before {
      background-position: -1em -16.6em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-solutions(){
    @extend .solutions;
  }



