.sprite-icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../images/ibbc-sprites.svg");
      background-repeat: no-repeat;
      background-size: 13.89em 72.8em;

      .no-svg & {
        background-image: url("../images/ibbc-sprites.png");
      }
    }
}




.sprite-icon.accessibility {
  &:before {
      background-position: -1em -1em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-accessibility(){
    @extend .accessibility;
  }


.sprite-icon.address-book {
  &:before {
      background-position: -1em -6.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-address-book(){
    @extend .address-book;
  }


.sprite-icon.aid-kit {
  &:before {
      background-position: -1em -11.4em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-aid-kit(){
    @extend .aid-kit;
  }


.sprite-icon.airplane {
  &:before {
      background-position: -1em -16.6em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-airplane(){
    @extend .airplane;
  }


.sprite-icon.alarm {
  &:before {
      background-position: -1em -21.8em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-alarm(){
    @extend .alarm;
  }


.sprite-icon.amazon {
  &:before {
      background-position: -1em -27em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-amazon(){
    @extend .amazon;
  }


.sprite-icon.ambient {
  &:before {
      background-position: -1em -32.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-ambient(){
    @extend .ambient;
  }


.sprite-icon.android {
  &:before {
      background-position: -1em -37.4em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-android(){
    @extend .android;
  }


.sprite-icon.angry {
  &:before {
      background-position: -1em -42.6em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-angry(){
    @extend .angry;
  }


.sprite-icon.angry2 {
  &:before {
      background-position: -1em -47.8em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-angry2(){
    @extend .angry2;
  }


.sprite-icon.appleinc {
  &:before {
      background-position: -1em -53em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-appleinc(){
    @extend .appleinc;
  }


.sprite-icon.arrow-down {
  &:before {
      background-position: -1em -58.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-arrow-down(){
    @extend .arrow-down;
  }


.sprite-icon.bell {
  &:before {
      background-position: -1em -63.4em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-bell(){
    @extend .bell;
  }


.sprite-icon.node {
  &:before {
      background-position: -1em -68.6em;
      width: 11.89em;
      height: 3.2em;
    }
  }

  @mixin sprite-icon-node(){
    @extend .node;
  }



