.site-container {
    .block {
        border-radius: 5px;
        background-color: palette(white, base);
        box-shadow: 0 2px 15px 0 rgba(204,204,204,0.47);
        padding: 32px;
        text-align: center;
    
    }
    h2 {
        font-size: 2.5em;
    }
}

.navbar {
    border: 0;
    box-shadow: inset 0px -2px #e8e8e8;
    &.affix-top {
        box-shadow: none;
    }
}

#back-fixed {
    position: fixed;
    top: 0;
    z-index: -1;
}